.header {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: blue;

  .menu-left,
  .menu-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    button {
      background-color: transparent;
      border: none;
    }
  }

  .logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 200px;

    img.header-logo {
      width: 150px;
      height: auto;
    }
  }

  @media (max-width: 600px) {
    .menu-left,
    .menu-right {
      display: none;
    }
  }
}
