.header {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .menu-left,
  .menu-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    a {
      margin: 40px 30px 0 30px;
      text-decoration: none;
      font-family: Verdana, d sans-serif;
      color: black;
    }
  }

  .logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 250px;
    height: 100px;
    margin-top: -25px;

    img.header-logo {
      width: 250px;
      height: 150px;
      top: -20px;
    }
  }

  @media (max-width: 600px) {
    .menu-left,
    .menu-right {
      display: none;
    }
  }
}
